@model IEnumerable<Movie>

@{
    ViewData["Title"] = "List of Movies";
}

<div class="row">
    <div class="col-md-8 offset-md-2">

        <table class="table">
            <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                    <th>@Html.DisplayNameFor(model => model.Title)</th>
                    <th>@Html.DisplayNameFor(model => model.Description)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">
                            <img src="@item.ImageUrl" alt="@item.Title" style="max-width:80px; border-radius: 10%"></img>
                        </td>
                        <td class="align-middle">
                            <b>@Html.DisplayFor(modelItem => item.Title)</b>
                        </td>
                        <td class="align-middle">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>                        
                    </tr>
                }
            </tbody>
        </table>

    </div>
</div>